name: Check Code

on:
  pull_request:

jobs:
  check-i18n:
    name: Check Translation Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: python3 tests/check_i18n.py
